<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wankrfun.crania">

    <!--允许程序打开网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序写入内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序读取内置sd卡的写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许程序获取手机状态（包括手机号码、IMEI、IMSI权限等）-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序打开相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 华为推送PUSH 如果是安卓8.0，应用编译配置的targetSdkVersion>=26，请务必添加以下权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- OPPO推送权限 -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <!-- 小米 配置开始 -->
    <permission android:name="com.wankrfun.crania.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.wankrfun.crania.permission.MIPUSH_RECEIVE" />

    <application
        android:name="com.wankrfun.crania.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wankrfun"
        android:networkSecurityConfig="@xml/network_config"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <!-- 启动页 -->
        <activity android:name="com.wankrfun.crania.view.start.StartUpActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 首页(属性设置：软键盘默认自动不弹起) -->
        <activity android:name="com.wankrfun.crania.view.MainActivity" android:windowSoftInputMode = "stateAlwaysHidden|adjustPan"/>

        <!-- 登录页（属性设置：页面打开唯一性/设置底部控件view随着软键盘的弹出而上移） -->
        <activity android:name="com.wankrfun.crania.view.login.LoginActivity" android:launchMode="singleTask"  android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 密码登录页 -->
        <activity android:name="com.wankrfun.crania.view.login.LoginPasswordActivity"  android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 获取验证码页 -->
        <activity android:name="com.wankrfun.crania.view.login.VerificationCodeActivity"/>

        <!-- 设置密码页 -->
        <activity android:name="com.wankrfun.crania.view.login.SetPasswordActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 设置性别页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstSetGenderActivity"/>

        <!-- 设置出生日期页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstSetBirthdayActivity"/>

        <!-- 设置工作状态页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstSetJobActivity"/>

        <!-- 设置玩趣相投 期待页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstSetExpectActivity"/>

        <!-- 设置玩趣相投 活动页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstSetTypeActivity"/>

        <!-- 设置用户信息 头像/名称页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstSetUserInfoActivity"/>

        <!-- 第一次开启权限页面 -->
        <activity android:name="com.wankrfun.crania.view.login.first.FirstPermissionActivity"/>

        <!-- 活动详情页面 -->
        <activity android:name="com.wankrfun.crania.view.events.EventsDetailActivity"/>

        <!-- 选择申请人页面 -->
        <activity android:name="com.wankrfun.crania.view.events.EventsSelectApplyActivity"/>

        <!-- 活动添加页面 -->
        <activity android:name="com.wankrfun.crania.view.events.EventsAddActivity"/>

        <!-- 活动添加详细信息页面 -->
        <activity android:name="com.wankrfun.crania.view.events.EventsAddInfoActivity"/>

        <!-- 我的匹配列表页面 -->
        <activity android:name="com.wankrfun.crania.view.meet.MineMatchingActivity"/>

        <!-- 群聊详情页面 -->
        <activity android:name="com.wankrfun.crania.view.messages.chat.IMGroupDetailsActivity"/>

        <!-- 群聊详情页面 -->
        <activity android:name="com.wankrfun.crania.view.messages.chat.IMGroupMemberActivity"/>

        <!-- 用户详情页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.UserInfoActivity"/>

        <!-- 设置页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.SetActivity"/>

        <!-- h5加载页 -->
        <activity android:name="com.wankrfun.crania.view.mine.WebViewActivity"/>

        <!-- 账号与安全页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.AccountSecurityActivity"/>

        <!-- 修改密码页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.ChangePasswordActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 用户协议页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.UserAgreementActivity"/>

        <!-- 用户协议页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.FeedbackActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 修改个人信息页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.ChangeUserInfoActivity"/>

        <!-- 修改用户昵称页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.ChangeNameActivity" android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- 更改用户头像页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.ChangeAvatarActivity"/>

        <!-- 修改用户位置页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.ChangeAddressActivity"/>

        <!-- 更换背景页面 -->
        <activity android:name="com.wankrfun.crania.view.mine.ChangeBackgroundActivity"/>

        <!-- 融云单聊页-->
        <activity
            android:name="com.wankrfun.crania.view.messages.chat.IMPrivateChatActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="com.wankrfun.crania"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <!--Android7.0后临时访问权限-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wankrfun.crania.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path">

            </meta-data>
        </provider>

        <!--高德地图appKey-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="44005ef8d4b4afe3ad1c1cf2f61a846e" />

        <!-- 融云推送 通知接受自定义服务-->
        <!-- push start-->
        <receiver
            android:name=".receiver.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>

        <!-- 小米推送 配置开始  -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->

        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="io.rong.push.platform.mi.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <!-- 小米推送 配置结束 -->

        <!-- 华为推送 配置开始 -->
        <service
            android:name="io.rong.push.platform.hms.HMSPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 华为推送配置结束 -->

        <!-- OPPO消息推送开始 -->
        <service
            android:name="com.heytap.mcssdk.PushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>

        <service
            android:name="com.heytap.mcssdk.AppPushService"
            android:permission="com.heytap.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>
        <!-- OPPO消息推送结束 -->

        <!-- Vivo消息推送开始 -->
        <!-- vivo 推送服务需要配置的 service、activity -->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true"/>
        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- vivo push 推送 receiver 声明 -->
        <receiver android:name="io.rong.push.platform.vivo.VivoPushMessageReceiver" >
            <intent-filter>
                <!-- 接收 vivo push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- vivo 推送配置项 -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="436f403f772b0abe8e0942dd99ed2265"/>
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="105471312"/>
        <!-- Vivo消息推送结束 -->

        <!--极光推送 start-->
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".receiver.jspush.JpushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.jspush.MessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.wankrfun.crania" />
            </intent-filter>
        </receiver>
        <!--极光推送 end-->

    </application>

</manifest>